@import "tailwindcss";

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveOrbG1 {

  0%,
  100% {
    transform: translate(-10vw, -10vh) scale(1);
  }

  50% {
    transform: translate(30vw, 20vh) scale(1.2);
  }
}

@keyframes moveOrbG2 {

  0%,
  100% {
    transform: translate(50vw, 50vh) scale(1);
  }

  50% {
    transform: translate(10vw, 80vh) scale(0.8);
  }
}

@keyframes moveOrbG3 {

  0%,
  100% {
    transform: translate(70vw, -20vh) scale(1);
  }

  50% {
    transform: translate(40vw, 40vh) scale(1.1);
  }
}

.bg-flowing-green {
  background: linear-gradient(-45deg, #f0fdf4, #ccfbf1, #dcfce3, #ecfdf5);
  background-size: 400% 400%;
  animation: gradientFlow 12s ease infinite;
}

.animate-orb-g-1 {
  animation: moveOrbG1 25s ease-in-out infinite;
}

.animate-orb-g-2 {
  animation: moveOrbG2 30s ease-in-out infinite;
}

.animate-orb-g-3 {
  animation: moveOrbG3 28s ease-in-out infinite;
}